<%- include('partials/menu', {req:req}); %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img
        src="https://cdn4.iconfinder.com/data/icons/simple-line-badges-vol9/100/.svg-8-512.png"
        alt=""
        style="width: 20%; align-self: center"
      />
      <p>Create an account or login</p>
      <a href="/farmer/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/farmer/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
